version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    container_name: hr-tech-api
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: ./hr-ui
      dockerfile: Dockerfile
    container_name: hr-tech-ui
    ports:
      - "3000:80"
    depends_on:
      - backend
