name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build and Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_WONDERFUL_COAST_0BE2A8200 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: upload
          app_location: hr-ui
          output_location: dist
        env:
          NODE_VERSION: 20.19.5

